# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Java
*.class
bin/
out/

# IDE - VS Code
.vscode/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Application specific
*.save